.mat-.mat-mdc-slide-toggle,
.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #03fc56;
  --mdc-switch-selected-handle-color: #03fc56;
  --mdc-switch-selected-hover-state-layer-color: #03fc56;
  --mdc-switch-selected-pressed-state-layer-color: #03fc56;
  --mdc-switch-selected-focus-handle-color: #03fc56;
  --mdc-switch-selected-hover-handle-color: #03fc56;
  --mdc-switch-selected-pressed-handle-color: #03fc56;
  --mdc-switch-selected-focus-track-color: #03fc56;
  --mdc-switch-selected-hover-track-color: #03fc56;
  --mdc-switch-selected-pressed-track-color: #03fc56;
  --mdc-switch-selected-track-color: #03fc56;
}

.mat-tab-label, .mat-tab-label.mat-tab-label-active {
  color: #03fc56;
}

.mat-ink-bar {
  background-color: #03fc56;
}
