<mat-card>
  <div class="container px-4">
    <div class="row gx-5">
      <h2>Andamento de Entregas por Motorista</h2>
      <table
        mat-table
        [dataSource]="entregasPorMotoristaDataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="motorista">
          <th mat-header-cell *matHeaderCellDef>Motorista</th>
          <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total de Entregas</th>
          <td mat-cell *matCellDef="let element">{{ element.total }}</td>
        </ng-container>
        <ng-container matColumnDef="realizadas">
          <th mat-header-cell *matHeaderCellDef>Entregas Realizadas</th>
          <td mat-cell *matCellDef="let element">{{ element.realizadas }}</td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="['motorista', 'total', 'realizadas']"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['motorista', 'total', 'realizadas']"
        ></tr>
      </table>
      <mat-paginator #motoristaPaginator [pageSize]="5"></mat-paginator>
    </div>
  </div>
</mat-card>

<mat-card>
  <div class="container px-4">
    <div class="row gx-5">
      <h2>Entregas com Insucesso por Motorista</h2>
      <table
        mat-table
        [dataSource]="insucessoPorMotoristaDataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="motorista">
          <th mat-header-cell *matHeaderCellDef>Motorista</th>
          <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
        </ng-container>
        <ng-container matColumnDef="insucessos">
          <th mat-header-cell *matHeaderCellDef>Entregas com Insucesso</th>
          <td mat-cell *matCellDef="let element">{{ element.insucessos }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['motorista', 'insucessos']"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['motorista', 'insucessos']"
        ></tr>
      </table>
      <mat-paginator #insucessoPaginator [pageSize]="5"></mat-paginator>
    </div>
  </div>
</mat-card>

<mat-card>
  <div class="container px-4">
    <div class="row gx-5">
      <h2>Andamento de Entregas por Bairro</h2>
      <table
        mat-table
        [dataSource]="entregasPorBairroDataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="bairro">
          <th mat-header-cell *matHeaderCellDef>Bairro</th>
          <td mat-cell *matCellDef="let element">{{ element.bairro }}</td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total de Entregas</th>
          <td mat-cell *matCellDef="let element">{{ element.total }}</td>
        </ng-container>
        <ng-container matColumnDef="realizadas">
          <th mat-header-cell *matHeaderCellDef>Entregas Realizadas</th>
          <td mat-cell *matCellDef="let element">{{ element.realizadas }}</td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="['bairro', 'total', 'realizadas']"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['bairro', 'total', 'realizadas']"
        ></tr>
      </table>
      <mat-paginator #bairroPaginator [pageSize]="5"></mat-paginator>
    </div>
  </div>
</mat-card>
