<div class="container" [ngClass]="{ closed: isClosed }">
  <p-toast></p-toast>
  <div class="toggle" (click)="toggleSidebar()">
    <span class="material-symbols-outlined">
      {{ isClosed ? "chevron_right" : "chevron_left" }}
    </span>
  </div>
  <div class="flex flex-column justify-content-start gap-3">
    <div class="logo flex align-items-center">
      <span class="p-2 mx-3">{{ isClosed ? "L" : "LOGO" }}</span>
    </div>
    <div class="menu-item flex align-items-center p-2 mx-3 gap-1 menu-active" routerLink="/dashboard">
      <span class="material-symbols-outlined"> dashboard </span>
      <span>Dashboard</span>
    </div>
    <div class="menu-item flex align-items-center p-2 mx-3 gap-1" routerLink="/lista-entregas">
      <span class="material-symbols-outlined"> list </span>
      <span>Lista de entregas</span>
    </div>

    <hr class="w-full" style="border-color: #d9d9d9" />
    <div class="flex align-items-center justify-content-center p-2 mx-3 gap-1">
      <p-toast></p-toast>
      <p-confirmDialog></p-confirmDialog>
      <p-button
        (click)="logout($event)"
        [label]="isClosed ? '' : 'Sair'"
        icon="pi pi-sign-out"
        [ngClass]="{ 'p-button-icon-only': isClosed }"
      >
      </p-button>
    </div>
  </div>
</div>
